<!DOCTYPE html>
<html>
<head>
  <title>Blog1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

  
<body bgcolor="#550403" style="leftmargin=0px; topmargin=0px; marginwidth=0px; marginheight=0px;">
<span class="style6"></span>
<!-- Save for Web Slices (business solutions_sliced.psd) -->
<div id="body">
<br />
<br />
<br />
 <table style="width=1001px; height=1001px;" border="0" align="center" cellpadding="0" cellspacing="0" id="Table_01">
    <tr>
      <td colspan="2" rowspan="3"><div id="logo">
      <div class="logo"><a href="index.html"><span class="style5">COMPANY<br />
	  NAME</span></a></div>
      </div></td>
<td colspan="3"><div class="style1" id="header">
			<br />
			BUSINESS <span class="style3">SOLUTIONS</span>
             <span class="style4"><br />
             OUR SOLUTIONS MAKES YOUR BUSINESS BETTER!            </span></div></td>
	      <td>
		      <img src="/assets/spacer.gif" width="1" height="185" alt="" /></td>
      </tr>
    <tr>
      <td><div class="top_menu">
      <ul>
      <li><a href="index.html">HOME</a></li>
      <li><a href="index.html">ABOUT</a></li>
      <li><a href="index.html">F.A.Q.</a></li>
      <li><a href="index.html">COTNACT</a></li>
      </ul>
      </div></td>
	    <td colspan="2">
	        <img src="/assets/index_04.jpg" width="128" height="42" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="1" height="42" alt="" /></td>
      </tr>
    <tr>
      <td colspan="2" rowspan="2"><div id="content">
      
      
      <div class=" content">
      <%=yield%>
       
      </div>
      </div></td>
	    <td rowspan="3">
	        <img src="/assets/index_06.jpg" width="27" height="773" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="1" height="76" alt="" /></td>
      </tr>
    <tr>
      <td rowspan="2"><img src="/assets/index_07.jpg" width="70" height="697" alt=""/></td>
      <td><div class="left_menu">
        <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="index.html">OUR SERVICES</a></li>
        <li><a href="index.html">WHY US!</a></li>
        <li><a href="index.html">REFERENCES</a></li>
        <li><a href="index.html">F.A.Q.</a></li>
        <li><a href="index.html">CONTACT</a></li>
        </ul>
        </div></td>
	    <td>
	        <img src="/assets/spacer.gif" width="1" height="651" alt="" /></td>
      </tr>
    <tr>
      <td colspan="3"><div id="footer">COPYRIGHT (C) 2010 &quot;YOUR SITE&quot;. DESIGN BY <a href="http://www.e-globalspot.com">wholesale china</a></div></td>
  <td>
	        <img src="/assets/spacer.gif" width="1" height="46" alt="" /></td>
      </tr>
    <tr>
      <td>
        <img src="/assets/spacer.gif" width="70" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="179" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="623" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="101" height="1" alt="" /></td>
	    <td>
	        <img src="/assets/spacer.gif" width="27" height="1" alt="" /></td>
	    <td></td>
      </tr>
  </table>
  <div id="lft"><a href="http://www.e-globalspot.com">wholesale china</a></div><br />
  <br />
</div>
<!-- End Save for Web Slices -->
</body>
</html>
